@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.right{
    text-align: right;
}
div{
    font-family: Verdana, Arial, Tahoma, Serif;
    width: 400px;
    margin: 50px;
    padding: 20px;
    border-radius: 50px;
    border-left: 20px;
    border-right: 20px;
    background-color: white;
   
}
div{
    opacity: 2;
}
.center{
    text-align: center;
    margin:20px;
}
.jt{
    text-align: justify;
}
input[type='password']{
    width: 90%;
    padding: 15px 20px;
    margin: 8px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
}
input[type='text']{
    width: 90%;
    padding: 15px 20px;
    margin: 8px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
}
input:focus[type='text']{
    color: white;
    background-color: #98999C;
    width: 375px;
}
input[type='submit']{
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
input[type='submit']:focus{
    background-color: black;
    border: 2px solid white;
    color:white;
  }
body{
    background-color: #98999C;
}
.error {
    background-color: red;
    color: white;
    padding: 15px;
}